@using System;
@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@using Mini.Games;

@namespace Mini.UI

@inherits PanelComponent

<root>
	@{
		float timeUntilGameStatusEnd = GamesLauncher.TimeUntilGameStatusEnd;
	}

	
	@if(!GamesLauncher.HasEnoughPlayers)
	{
		<label class="title">Waiting Players</label>
	}
	else if(GamesLauncher.GameStatus == GameStatus.None)
	{
		<label class="title">Voting ends in @timeUntilGameStatusEnd.CeilToInt()</label>
	}
	else if(GamesLauncher.GameStatus == GameStatus.SetUp)
	{
		<label class="title">Game starts in @timeUntilGameStatusEnd.CeilToInt()</label>
	}
	else if(GamesLauncher.GameStatus == GameStatus.Started)
	{
		<label class="title">Game ends in @timeUntilGameStatusEnd.CeilToInt()</label>
	}
	else if(GamesLauncher.GameStatus == GameStatus.Stopped)
	{
		var winners = GamesLauncher.Winners
			.Select(steamId => Connection.All.FirstOrDefault(c => c.SteamId == steamId, null)?.DisplayName)
			.Where(name => name is not null);

		<label class="winners">Winners are @string.Join(", ", winners)</label>
		<label class="title">Choosing game in @timeUntilGameStatusEnd.CeilToInt()</label>
	}
</root>

@code
{
	[Property]
	public GamesLauncher GamesLauncher { get; set; } = null!;

	protected override int BuildHash() => HashCode.Combine(GamesLauncher.HasEnoughPlayers, GamesLauncher.TimeUntilGameStatusEnd, GamesLauncher.GameStatus, Time.Now);
}